{% extends "base_generic.html" %}
{% block title %}<title>Trip Details</title>{% endblock %}
{% block content %}
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
                <div class="info-card">
                  <h1>Travel Recommendation System</h1>
                  <div class="row">
                      <div class="col-md-12" style="text-align:center">We require some of your details to proceed further:<br><br></div>
                  </div>
                  <form name="user_details" action="{%url 'rec'%}" method="POST" id="main_frm">
                      {% csrf_token %}
                            Age:&nbsp;&nbsp;<input type="text" size="2"  name='age' pattern="^[0-9]+$" title="Please enter a numeric value" required>&nbsp;&nbsp;&nbsp;
                            Occupation:&nbsp;&nbsp;<select type="select" name="occupation" required>
                                    <option value="" disabled selected>Select your option</option>
                                    <option value="student">Student</option>
                                    <option value="salaried">Salaried</option>
                                    <option value="self-employed">Self-employed</option>                                    
                            </select>
                            &nbsp;&nbsp;&nbsp; Accompanied by: <select name="acc" required>
                                <option value="" disabled selected>Select</option>
                                <option value="friends">Friends</option>
                                <option value="family">Family</option>
                                </select>
                                &nbsp;&nbsp;&nbsp;
                                Month of travel: <select name="m_o_t" required>
                                    <option value="" disabled selected>Select a Month:</option>
                                    <option value="jan">January</option>
                                    <option value="feb">February</option>
                                    <option value="mar">March</option>
                                    <option value="apr">April</option>
                                    <option value="may">May</option>
                                    <option value="jun">June</option>
                                    <option value="jul">July</option>
                                    <option value="aug">August</option>
                                    <option value="sep">September</option>
                                    <option value="oct">October</option>
                                    <option value="nov">November</option>
                                    <option value="dec">December</option>
                                </select>
                                &nbsp;&nbsp;&nbsp;Interested in:&nbsp;&nbsp;
                                <select name="interest" required>
                                  <option value="" disabled selected>Select</option>
                                  <option value="adventure">Adventure</option>
                                  <option value="relaxation">Relaxation</option>
                                  <option value="sightseeing">Sightseeing</option>
                                  </select>
                                  &nbsp;&nbsp;&nbsp;Duration of stay:&nbsp;&nbsp;<input type="text" name="dos" size="3" placeholder=" days" pattern="^[0-9]+$" title="Please enter a numeric value" required>
                                  <br><br><input type="submit" value="Submit" class="btn">
                  </form>
                </div>
            </div>
          </div>
        </div>
    {% endblock %}