{% extends "base_generic.html" %}
        {% block title %}<title>Travel Recommendation System</title>{% endblock%}
        {% block content %}
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
                <div class="info-card">
                  <h1>Travel Recommendation System</h1>
                  <p>The portal picks out a travel destination best suited for you.</p>
                  <p><button class="btn btn-light" id="disp-form" data-toggle="modal" data-target="#myModal">Get Started</button></p>
                </div>
            </div>
          </div>
          <div class="modal" id="myModal">
            <div class="modal-dialog">
              <div class="modal-content"  style="border-radius:15px;">
                <div class="modal-body">
                  <form name="modal-frm" method="POST" action="{% url 'form' %}">
                      {% csrf_token %}
                    <h3>Please enter your details.</h3>
                    Name:<input type="text" name="name" class="form-control" pattern="^[a-zA-Z]+$" required><br>
                    <p hidden="hidden" style="color:red;display: none;" id="modal-name"></p>
                    E-mail:<input type="email" name="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required><br>
                    <p hidden="hidden" style="color:red;display:none" id="modal-em"></p>
                    <input type="submit" name="submit" value="Submit" class="sub" id="sub">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        {%endblock%}